---
import { facebookFallback } from '../../data/social-fallbacks';
import SocialFallbackGrid from './SocialFallbackGrid.astro';
---

<div class="social-platform-section" aria-labelledby="us-on-facebook">
  <h3 id="us-on-facebook" class="sr-only">Us on Facebook</h3>

  <SocialFallbackGrid
    id="fb-fallback"
    message={facebookFallback.message}
    cards={facebookFallback.cards}
  />
</div>
