---
import BaseLayout from '../layouts/BaseLayout.astro';
import AboutSection from '../components/sections/AboutSection.astro';
import HeroSection from '../components/sections/HeroSection.astro';
import SocialHighlightsSection from '../components/sections/SocialHighlightsSection.astro';
import TeamSection from '../components/sections/TeamSection.astro';
import WhereIsKoreaSection from '../components/sections/WhereIsKoreaSection.astro';
---

<BaseLayout title="Home">
  <HeroSection />

  <div class="relative overflow-hidden">
    <AboutSection />
    <SocialHighlightsSection />
    <WhereIsKoreaSection />
    <TeamSection />
  </div>
</BaseLayout>
