---
interface Props {
  label: string;
}

const { label } = Astro.props;
---

<div class="cityu-breadcrumb breadcrumb-color-default">
  <div class="cityu-breadcrumb-inner container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <a href="#">{label}</a>
        </li>
      </ol>
    </nav>
  </div>
</div>
