---
import { site } from '../config/site';
---

<header class="cityu-header header-color-default">
  <div class="cityu-header-inner container">
    <div class="cityu-header-lg d-none d-lg-block">
      <div class="d-flex flex-row">
        <div class="cityu-header-logo-lg align-self-center">
          <a href="https://www.cityu.edu.hk" rel="noopener" target="_blank">
            <img
              src="/img-web/CityU_Vertical_Logo_CMYK.svg"
              alt="City University of Hong Kong"
            />
          </a>
        </div>
        <div class="cityu-header-name-lg align-self-center">
          <a href="/">{site.title}</a>
        </div>
        <div class="cityu-tools ml-auto align-self-start flex-row d-none d-lg-flex"></div>
      </div>
    </div>

    <div class="cityu-header-md d-lg-none">
      <div class="d-flex flex-row">
        <div class="cityu-header-logo-md align-self-center">
          <a href="https://www.cityu.edu.hk" rel="noopener" target="_blank">
            <img
              src="/img-web/CityU_Mini_Logo.svg"
              alt="City University of Hong Kong"
            />
          </a>
        </div>
        <div class="cityu-header-name-md align-self-center">
          <a href="/">{site.title}</a>
        </div>
      </div>
    </div>
  </div>
</header>
