---
import { site, navItems } from '../config/site';
---

<nav class="cityu-sitemap sitemap-color-default d-none d-lg-block">
  <div class="cityu-sitemap-inner container">
    <div class="cityu-sitemap-list">
      <ul class="d-flex flex-row flex-wrap justify-content-start">
        <li class="">
          <a class="" href="/" role="button" data-toggle="dropdown" aria-expanded="false"
            >{site.title}</a
          >
          <ul class="animate__animated animate__fadeIn" style="--animate-duration: 0.5s">
            {
              navItems.map((item) => (
                <li>
                  <a class="" href={item.href}>{item.label}</a>
                </li>
              ))
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
